body {
    background-color: beige;
    font-family: 'Montserrat';
}
#inputs {
    display: flex;
    justify-content: space-between;
}
input {
    background-color: rosybrown;
}
h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: black;
    font-size: x-large;
}

